// Custom breakpoints:
// Make sure these are matching the values in the Tailwind.config.ts file on the root
$xs: 480px;
$sm: 768px;
$md: 1170px;
$lg: 1280px;
$xl: 1440px;
$xxl: 1920px;

$breakpoints: (
    'xs': $xs,
    'sm': $sm,
    'md': $md,
    'lg': $lg,
    'xl': $xl,
    'xxl': $xxl
) !default;
