:root,
[data-style-mode='light'],
.light-mode {
    --font-family: 'Open Sans', sans-serif;
    --font-family-header: 'Open Sans', sans-serif;
    --font-size: 1rem;
    --font-ratio: 1.125;
    --font-size-1: calc(var(--font-size-2) / var(--font-ratio));
    --font-size-2: calc(var(--font-size-3) / var(--font-ratio));
    --font-size-3: calc(var(--font-size-4) / var(--font-ratio));
    --font-size-4: calc(var(--font-size-5) / var(--font-ratio));
    --font-size-5: calc(var(--font-size-6) / var(--font-ratio));
    --font-size-6: var(--font-size);
    --font-size-7: calc(var(--font-size-6) * var(--font-ratio));
    --font-size-8: calc(var(--font-size-7) * var(--font-ratio));
    --font-size-9: calc(var(--font-size-8) * var(--font-ratio));
    --font-size-10: calc(var(--font-size-9) * var(--font-ratio));
    --font-size-11: calc(var(--font-size-10) * var(--font-ratio));
    --font-size-12: calc(var(--font-size-11) * var(--font-ratio));
    --font-size-13: calc(var(--font-size-12) * var(--font-ratio));
    --font-size-14: calc(var(--font-size-13) * var(--font-ratio));
    --font-size-15: calc(var(--font-size-14) * var(--font-ratio));
    --font-size-16: calc(var(--font-size-15) * var(--font-ratio));
    --font-size-17: calc(var(--font-size-16) * var(--font-ratio));
    --font-size-18: calc(var(--font-size-17) * var(--font-ratio));
    --font-size-19: calc(var(--font-size-18) * var(--font-ratio));
    --font-size-20: calc(var(--font-size-19) * var(--font-ratio));
    --font-weight: normal;
    --font-weight-100: 100;
    --font-weight-200: 200;
    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --font-weight-800: 800;
    --font-weight-900: 900;

    --dark-gray: #1f1f1f;
    --white: #ffffff;
    --black: #000000;
    --red: #f92f3d;

    --opacity-on-hover: 0.7;
    --transition: all var(--p-transition-duration) ease-out;
    --max-container-width: 1366px;

    --background: var(--white);
}

[data-style-mode='dark'],
.dark-mode {
    --background: var(--p-surface-950);
}
