* {
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: var(--background);
    font-family: var(--font-family);
    transition: var(--transition);
    min-height: 100vh;
    color: var(--p-text-color);
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-variant-numeric: lining-nums;
    -moz-osx-font-smoothing: grayscale;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: var(--blue);
    text-decoration: none;
    transition: var(--transition);
    &:hover {
        text-decoration: underline;
    }
    &.plain {
        text-decoration: none;
    }
}

.container {
    width: 100%;
    max-width: var(--max-container-width) !important;
    margin: auto;
}

.text-white {
    color: var(--white) !important;
}
.text-blue {
    color: var(--blue) !important;
}
.text-red {
    color: var(--red) !important;
}

.bg-blue {
    background-color: var(--blue) !important;
}
.bg-red {
    background-color: var(--red) !important;
}

.blue-section {
    background-color: var(--blue);
    color: var(--white);
    a {
        color: var(--orange);
    }
}

// primevue overrides
.p-button {
    border-width: 2px !important;
    color: var((--blue)) !important;
    background: var(--orange) !important;
    border: 2px solid var(--blue) !important;
    border-radius: 0 !important;
    padding: 0.7rem 3.5rem !important;
}
.p-button .p-button-label {
    font-weight: 900 !important;
    font-size: 21px !important;
    line-height: 21px !important;
    text-transform: uppercase !important;
}
.p-button.p-button-sm .p-button-label {
    font-weight: 900 !important;
    font-size: 14px !important;
    line-height: 14px !important;
    text-transform: uppercase !important;
}
.pi-plus:before {
    font-weight: 900 !important;
    font-size: 22px !important;
}

.p-menubar {
    border: none !important;
    padding: 0 !important;
    background: var(--red) !important;
    @screen xl {
        background: var(--white) !important;
    }
}
.p-menubar-item-link {
    color: var(--white) !important;
    overflow: visible !important;
    padding: 0 !important;
    @screen xl {
        color: var(--blue) !important;
    }
}

// accessibility
// hide outline when using a mouse but not when using a keyboard
.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}
[data-js-focus-visible] .p-button:focus:not([data-focus-visible-added]) {
    outline: none;
}
[data-js-focus-visible] .button:focus:not([data-focus-visible-added]) {
    outline: none;
}

.unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}
