@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@tailwind base;

@layer base {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
    color: var(--text-color);
  }

  p {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    @screen lg {
      font-size: 21px;
      line-height: 25px;
    }
  }

  h1,
  .like-h1 {
    font-family: 'Merriweather';
    font-weight: 900;
    font-size: 34px;
    line-height: 43px;
    color: #193b59;
    @screen lg {
      font-size: 55px;
      line-height: 69px;
    }
  }

  h2,
  .like-h2 {
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 34px;
    line-height: 43px;
    color: #193b59;
  }

  h3,
  .like-h3 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    text-transform: uppercase;
  }

  label,
  .small {
    font-size: 14px;
    line-height: 18px;
    @screen lg {
      font-size: 16px;
      line-height: 20px;
    }
  }

  label {
    display: block;
  }
}
